{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="register-page form-page">

    <!-- Title -->
    <h2 class="form-title"> Register </h2>

    <form class="form-body" action="/register/" method="POST">

        {% csrf_token %}

        <!-- <label for="name" class="reg-form-label">Name</label> <br> -->
        <input type="text" name="username" id="" placeholder="Username" class="form-input form-input1">
        <br>

        <!-- <label for="email" class="reg-form-label">Email</label> <br> -->
        <input type="gmail" name="gmail" id="" placeholder="Email" class="form-input form-input2">
        <br>

        <!-- <label for="pass" class="reg-form-label">Password</label> <br> -->
        <input type="password" name="password" id="" placeholder="Password" class="form-input form-input3">
        <br>

        <button type="submit">Register</button>
    </form>

    <div class="member-ques">Already a member?
        <a href="/login_page/">Login here</a>
    </div>

    <a href="/login_page/" class="form-btn_proceed">Proceed</a>

    </div>

{% endblock %}
