{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="search-page">
    <div class="stext1">
        Here's your coffee!
    </div>

    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- The form -->
    <form class="example" action="/api/search_articles/" method="GET">

        <br />
        <input type="text" name="search" placeholder="Search" {% if request.GET.search %} value={{ request.GET.search }} {% endif %} /> <br />
        <input type="text" name="keywords" placeholder="Keywords" {% if request.GET.keywords %} value={{ request.GET.keywords }} {% endif %}/> <br />
        <input type="text" name="abstract" placeholder="Abstract" {% if request.GET.abstract %} value={{ request.GET.abstract }} {% endif %}/> <br />

        <br />
        <!-- However, as with all input elements, you need to define a name for it to be usable
        - without a name, the element won't be identifiable when posting the form back to a server
        for processing. You also want to set a value
        - this will be the value sent to the server if the radio button has been selected -->
        <select class="" name="area">
            <option {% if request.GET.area and request.GET.area == "Machine Learning I" %} selected {% endif %} value="Machine Learning I">Machine Learning I</option>
            <option {% if request.GET.area and request.GET.area == "Neural Networks I" %} selected {% endif %} value="Neural Networks I">Neural Networks I</option>
            <option {% if request.GET.area and request.GET.area == "Neural Network II" %} selected {% endif %} value="Neural Network II">Neural Network II</option>
            <option {% if request.GET.area and request.GET.area == "Semi-Supervised Learning" %} selected {% endif %} value="Semi-Supervised Learning">Semi-Supervised Learning</option>
            <option {% if request.GET.area and request.GET.area == "Medicine and Bioinformatics" %} selected {% endif %} value="Medicine and Bioinformatics">Medicine and Bioinformatics</option>
            <option {% if request.GET.area and request.GET.area == "Real-time Systems and Industry" %} selected {% endif %} value="Real-time Systems and Industry">Real-time Systems and Industry</option>
            <option {% if request.GET.area and request.GET.area == "Information Retrieval I" %} selected {% endif %} value="Information Retrieval I">Information Retrieval I</option>
            <option {% if request.GET.area and request.GET.area == "Information Retrieval II" %} selected {% endif %} value="Information Retrieval II">Information Retrieval II</option>
            <option {% if request.GET.area and request.GET.area == "Science and Industry" %} selected {% endif %} value="Science and Industry">Science and Industry</option>
            <option {% if request.GET.area and request.GET.area == "Machine Learning II" %} selected {% endif %} value="Machine Learning II">Machine Learning II</option>
            <option {% if request.GET.area and request.GET.area == "Medicine, Science and Music" %} selected {% endif %} value="Medicine, Science and Music">Medicine, Science and Music</option>
            <option {% if request.GET.area and request.GET.area == "Machine Learning for Predictive Models I" %} selected {% endif %} value="Machine Learning for Predictive Models I">Machine Learning for Predictive Models I</option>
            <option {% if request.GET.area and request.GET.area == "Machine Learning for Predictive Models II" %} selected {% endif %} value="Machine Learning for Predictive Models II">Machine Learning for Predictive Models II</option>
            <option {% if request.GET.area and request.GET.area == "Machine Learning Applications in Education I" %} selected {% endif %} value="Machine Learning Applications in Education I">Machine Learning Applications in Education I</option>
            <option {% if request.GET.area and request.GET.area == "Machine Learning Applications in Education II" %} selected {% endif %} value="Machine Learning Applications in Education II">Machine Learning Applications in Education II</option>
            <option {% if request.GET.area and request.GET.area == "Machine Learning in Information and System Security Issues" %} selected {% endif %} value="Machine Learning in Information and System Security Issues">Machine Learning in Information and System Security Issues</option>
            <option {% if request.GET.area and request.GET.area == "Machine Learning in Energy Applications" %} selected {% endif %} value="Machine Learning in Energy Applications">Machine Learning in Energy Applications</option>
            <option {% if request.GET.area and request.GET.area == "Machine Learning Algorithms, Systems and Applications" %} selected {% endif %} value="Machine Learning Algorithms, Systems and Applications">Machine Learning Algorithms, Systems and Applications</option>
            <option {% if request.GET.area and request.GET.area == "Adaptive Data-Driven Modeling in Dynamic Environments and On-line Processes" %} selected {% endif %} value="Adaptive Data-Driven Modeling in Dynamic Environments and On-line Processes">Adaptive Data-Driven Modeling in Dynamic Environments and On-line Processes</option>
            <option {% if request.GET.area and request.GET.area == "Machine Learning in Visual Information Processing" %} selected {% endif %} value="Machine Learning in Visual Information Processing">Machine Learning in Visual Information Processing</option>
            <option {% if request.GET.area and request.GET.area == "Machine learning of graphical models in static and dynamic complex environments" %} selected {% endif %} value="Machine learning of graphical models in static and dynamic complex environments">Machine learning of graphical models in static and dynamic complex environments</option>
        </select>

        
        <br />
        <br />
        <!-- <i class="fa fa-search"></i> -->
        <button type="submit">Search</button>

        <br />
        <br />
        <br />
        <br />

        {% if sorted_papers is not None and area is not None %}
        <hr />    
        <h1>{{ area }}</h1>
        
        <button type="button" onclick="
            exportToCsv('all.csv', allData)
        ">Export all {{total_count}} papers as CSV</button>
        <hr />  
        <div style="padding: 0 30px;">
            {{ sorted_papers|json_script:'papers-info' }}
            <script type="text/javascript">
                const data = JSON.parse(document.getElementById('papers-info').textContent);
                var allData = []
                data.forEach(x => {
                    const rows = [[`Title: ${x.paper.title}`], [`TFIDF Score: ${x.score}`], [`Abstract: ${x.paper.abstract}`]];
                    allData = [...allData, "", "", ...rows];
                })
            </script>


            {% for paperInfo in sorted_papers %}
            <div class="row">
                {{ paperInfo.paper|json_script:'paper-info' }}
                {{ paperInfo.score|json_script:'paper-score' }}
    
                <div class="col-md-3">
                    
                    <h3>{{ paperInfo.paper.title }}</h3>
                    <p>{{ paperInfo.paper.abstract }}</p>
                    
                </div>
                <hr />
            {% endfor %}
        </div>
        {% endif %}
    </form>

</div>
<script>

    function exportToCsv(filename, rows) {
    var processRow = function (row) {
        var finalVal = '';
        for (var j = 0; j < row.length; j++) {
            var innerValue = row[j] === null ? '' : row[j].toString();
            if (row[j] instanceof Date) {
                innerValue = row[j].toLocaleString();
            };
            var result = innerValue.replace(/"/g, '""');
            if (result.search(/("|,|\n)/g) >= 0)
                result = '"' + result + '"';
            if (j > 0)
                finalVal += ',';
            finalVal += result;
        }
        return finalVal + '\n';
    };

    var csvFile = '';
    for (var i = 0; i < rows.length; i++) {
        csvFile += processRow(rows[i]);
    }

    var blob = new Blob([csvFile], { type: 'text/csv;charset=utf-8;' });
    if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename);
    } else {
        var link = document.createElement("a");
        if (link.download !== undefined) { // feature detection
            // Browsers that support HTML5 download attribute
            var url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.style.visibility = 'hidden';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    }
}

</script>

{% endblock %}