@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@charset "utf-8";

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #1f4568;
    background-color: #edf2f4;
}

body{
    //background-image: url(home-bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    // background-position: center;
    // z-index: 0;
}


.home_header {
    // background-color: #fff;
    padding: 0;
    // box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    z-index: 1;

    .logo {
        padding: 15px 20px 12px 0px;
        float: left;
        margin-left: 10vw;
        width: 90px;
    }

    .nav-toggle-btn {
        display: none;
    }

    .navbar {
        display: block;
        float: right;
        margin-right: 4vw;

        ul, li {
            display: inline-block;
            padding-top: 8px;
            padding-right: 50px;
            font-size: 14px;

            a {
                text-decoration: none;
                color: #aaa;
                text-transform: uppercase;
            }

            a:before, a:after {
                transition: all 0.4s;
            }

            a:hover {
                color: #555;
            }
        }

        .nav_reg_btn {
            background-color:#3490fb;
            border-radius: 20px;
            padding: 8px 16px;
            color: #ffff;
            // box-shadow: 0px 12px 10px -5px rgba(0, 0, 0,0.3);
            transition: all 0.4s;
        }

        .nav_reg_btn:hover {
            background-color: #63b2fc;
            color: #ffff;
        }
    }
}

.home-illustration {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    width: 60vw; // 600px;
}

.home-text {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4vh;
    height: 50vh;

    text-align: center;

    .home-text_style0 {
        // welcome heading
        font-size: 3.5vw;
    }

    .home-text_style1 {
        // welcome text
        font-size: 1.5vw;
    }

    .home-btn_proceed {
        cursor: pointer;

        font-size: 1.2vw;
        padding: 6px 16px;
        border: 2px solid #ff4d79;
        border-radius: 20px;
        background: transparent;
        display: inline-block;
        color: #1f4568;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 4vh;
        transition-duration: 0.4s;
    }

    .home-btn_proceed:hover {
      background-color: #ff4d79;
      color: #ffff;
    }
}


// ------------------ registration and login pages
.login-page {
    // todo
    color: white;
    text-align: left;

    background-image: url('/static/images/log-img.png');
    // background-color: white;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top center;
    height: 100vh;
}

.register-page {
    // todo
    color: black;
    text-align: center;

    background-image: url('/static/images/reg-img.png');
    // background-color: white;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top center;
    height: 100vh;
}

.form-page {
    // todo
    color: black;
    text-align: center;
    height: 100vh;

    .form-title {
        // register heading
        // margin-top: 17vh;
        color: #1f4568;
        font-size: 3.3vw;
        margin-top: 17vh;
        // text-align: center;
    }

    .form-body {
        // registeration form text
        // font-size: 1.3vw;
        margin-top: 6vh;

        .form-input {
            margin-bottom: 3vh;
            padding-top: 2vh;
        }

        .form-input1 {
            background: transparent url('/static/images/reg-username.png') right no-repeat;
            background-size: 1.5vw;
            background-position: bottom right;
        }

        .form-input2 {
            background: transparent url('/static/images/reg-email.png') right no-repeat;
            background-size: 1.5vw;
            background-position: bottom right;
        }

        .form-input3 {
            background: transparent url('/static/images/reg-password.png') right no-repeat;
            background-size: 1.5vw;
            background-position: bottom right;
        }
    }

    form {
        // width: 100%;
        margin-left: 30vw;
        margin-right: 30vw;
    }

    label, input {
        width: 80%;
    }

    input {
        color: black;
        background-color: transparent;
        border-width: 0;
        font-size: 1.4vw;
        border-bottom: 1px solid black;
        outline: none;

        &::placeholder {
            opacity: 1;
            color: black;
            font-size: 1vw;
        }
    }

    .member-ques {
        margin-top: 5vh;
        font-size: 1.3vw;
    }

    .form-btn_proceed {
        cursor: pointer;

        font-size: 1.2vw;
        padding: 6px 16px;
        border: 2px solid #ff4d79;
        border-radius: 20px;
        background: transparent;
        display: inline-block;
        color: #1f4568;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 6vh;
        transition-duration: 0.4s;
    }

    .form-btn_proceed:hover {
      background-color: #ff4d79;
      color: #ffff;
    }
}

.search-page {
    // todo
    color: black;
    text-align: center;

    background-image: url('/static/images/search-img.png');
    // background-color: white;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top center;
    height: 100vh;

    .stext1 {
        // todo
        color: #1f4568;
        font-size: 3.5vw;
        margin-top: 19vh;
    }
}


// ------------------ media queries
@media screen and (max-width: 992px) {
    .home_header {
        .logo {
            width: 9vw;
        }

        i {
            transition: 0.4s;
        }

        .nav-toggle-btn {
            display: block;
            // float: right;
            font-size: 20px;
            position: absolute;
            top: 15px;
            right: 20px;
            background: transparent;
            border: none;

            z-index: 2;
        }

        .navbar {
            display: none;
            position: absolute;
            top: 50px;
            //right: 15px;
            text-align: center;

            background: rgba(0, 0, 0, 0.8);
            z-index: 1;

            animation-direction: alternate;

            ul {
                padding: 0;
            }

            ul li {
                display: block;
                //width: 100%;
                width: 100vw;
                text-align: center;
                padding: 2vh 0;
                font-size: 12px;

                // background-color: yellow;

                a {
                    color: #ffff;
                }

                a:hover {
                    color: rgb(255, 77, 121);
                }
            }
        }
    }

    .home-illustration {
        // width: 60vw;
    }
}
