@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #1f4568;
  background-color: #edf2f4;
}

body {
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.home_header {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 1;
}

.home_header .logo {
  padding: 15px 20px 12px 0px;
  float: left;
  margin-left: 10vw;
  width: 90px;
}

.home_header .nav-toggle-btn {
  display: none;
}

.home_header .navbar {
  display: block;
  float: right;
  margin-right: 4vw;
}

.home_header .navbar ul, .home_header .navbar li {
  display: inline-block;
  padding-top: 8px;
  padding-right: 50px;
  font-size: 14px;
}

.home_header .navbar ul a, .home_header .navbar li a {
  text-decoration: none;
  color: #aaa;
  text-transform: uppercase;
}

.home_header .navbar ul a:before, .home_header .navbar ul a:after, .home_header .navbar li a:before, .home_header .navbar li a:after {
  transition: all 0.4s;
}

.home_header .navbar ul a:hover, .home_header .navbar li a:hover {
  color: #555;
}

.home_header .navbar .nav_reg_btn {
  background-color: #3490fb;
  border-radius: 20px;
  padding: 8px 16px;
  color: #ffff;
  transition: all 0.4s;
}

.home_header .navbar .nav_reg_btn:hover {
  background-color: #63b2fc;
  color: #ffff;
}

.home-illustration {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  width: 60vw;
}

.home-text {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4vh;
  height: 50vh;
  text-align: center;
}

.home-text .home-text_style0 {
  font-size: 3.5vw;
}

.home-text .home-text_style1 {
  font-size: 1.5vw;
}

.home-text .home-btn_proceed {
  cursor: pointer;
  font-size: 1.2vw;
  padding: 6px 16px;
  border: 2px solid #ff4d79;
  border-radius: 20px;
  background: transparent;
  display: inline-block;
  color: #1f4568;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 4vh;
  transition-duration: 0.4s;
}

.home-text .home-btn_proceed:hover {
  background-color: #ff4d79;
  color: #ffff;
}

.login-page {
  color: white;
  text-align: left;
  background-image: url("/static/images/log-img.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top center;
  height: 100vh;
}

.register-page {
  color: black;
  text-align: center;
  background-image: url("/static/images/reg-img.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top center;
  height: 100vh;
}

.form-page {
  color: black;
  text-align: center;
  height: 100vh;
}

.form-page .form-title {
  color: #1f4568;
  font-size: 3.3vw;
  margin-top: 17vh;
}

.form-page .form-body {
  margin-top: 6vh;
}

.form-page .form-body .form-input {
  margin-bottom: 3vh;
  padding-top: 2vh;
}

.form-page .form-body .form-input1 {
  background: transparent url("/static/images/reg-username.png") right no-repeat;
  background-size: 1.5vw;
  background-position: bottom right;
}

.form-page .form-body .form-input2 {
  background: transparent url("/static/images/reg-email.png") right no-repeat;
  background-size: 1.5vw;
  background-position: bottom right;
}

.form-page .form-body .form-input3 {
  background: transparent url("/static/images/reg-password.png") right no-repeat;
  background-size: 1.5vw;
  background-position: bottom right;
}

.form-page form {
  margin-left: 30vw;
  margin-right: 30vw;
}

.form-page label, .form-page input {
  width: 80%;
}

.form-page input {
  color: black;
  background-color: transparent;
  border-width: 0;
  font-size: 1.4vw;
  border-bottom: 1px solid black;
  outline: none;
}

.form-page input::placeholder {
  opacity: 1;
  color: black;
  font-size: 1vw;
}

.form-page .member-ques {
  margin-top: 5vh;
  font-size: 1.3vw;
}

.form-page .form-btn_proceed {
  cursor: pointer;
  font-size: 1.2vw;
  padding: 6px 16px;
  border: 2px solid #ff4d79;
  border-radius: 20px;
  background: transparent;
  display: inline-block;
  color: #1f4568;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 6vh;
  transition-duration: 0.4s;
}

.form-page .form-btn_proceed:hover {
  background-color: #ff4d79;
  color: #ffff;
}

.search-page {
  color: black;
  text-align: center;
  background-image: url("/static/images/search-img.png");
  margin-top: 16vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-position: top;
  height: 100vh;
}

.search-page .stext1 {
  color: #1f4568;
  font-size: 3.5vw;
  padding-top: 22%;
}

@media screen and (max-width: 992px) {
  .home_header .logo {
    width: 9vw;
  }
  .home_header i {
    transition: 0.4s;
  }
  .home_header .nav-toggle-btn {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    border: none;
    z-index: 2;
  }
  .home_header .navbar {
    display: none;
    position: absolute;
    top: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    animation-direction: alternate;
  }
  .home_header .navbar ul {
    padding: 0;
  }
  .home_header .navbar ul li {
    display: block;
    width: 100vw;
    text-align: center;
    padding: 2vh 0;
    font-size: 12px;
  }
  .home_header .navbar ul li a {
    color: #ffff;
  }
  .home_header .navbar ul li a:hover {
    color: #ff4d79;
  }
}
